#! /bin/bash

# zfs-config.sh
#
# Chip Schweiss - chip.schweiss@wustl.edu
#
# Copyright (C) 2012  Chip Schweiss

# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; either version 2
# of the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

# Built specifically for the AWS backup server
# This process could take hours even days as the pool gets bigger so plan accordingly.
# Using raidz1 means redundency is broken troughout this process make sure you have a successful scrub first.


# Amazon EC2 instance id for this machine.  If the scripts are running locally on your instance
# keep them as they are, otherwise change to the instance-id.

instanceid=$(ec2metadata --instance-id)

# Amazon zone.  Again if running locally the example is fine.

zone=$(ec2metadata --availability-zone)

# Instance Hostname.  If you are running these scripts externally this needs to be
# hard coded to the EC2 instance hostname.   It is used in tagging EBS volumes.

instance_hostname="${HOSTNAME}"

# Public DNS name of instance.  This is used if these scripts are run externally.

instance_dns="aws-zfs01.homenet.org"

# Remote call prefix.  If you want these script to run off the EC2 instance use the format
# that is commented out and setup ssh public key authentication.

remote=""
#remote="ssh root@${instance_dns}"

# Name of the ZFS pool we are creating or manipulating

zfspool="mypool"

# The type of redunancy being used in each vdev
# Can be mirror, raidz1, raidz2, or raidz3

raidz="raidz1"

# Number of raidz vdevs in the pool

vdevs=5

# Number of EBS block devices per raidz vdev

devices=8

# Size of each EBS block device in Gigabytes.   Must be a whole number 1 or greater.
# You can increase this later and run grow-zfs-pool.sh

devsize=2

# First device letter used in the pool.   EC2 defaults to 'f' as in /dev/sdf

dev_first_letter="f"

# Use crypto layer?  If set to 'true' it will, anything else will ignore.

crypt="false"

# Make sure the EC2 Private Key and Cert files are referenced

EC2_PRIVATE_KEY=/root/pk-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.pem
EC2_CERT=/root/cert-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.pem

# EC2 API tools must be in the path and its location defined in the EC2_HOME environment variable
# Some instances from Amazon already have these installed and in the path.

PATH=$PATH:/root/tools/ec2-api-tools-1.5.5.0/bin
EC2_HOME=/root/tools/ec2-api-tools-1.5.5.0

# JAVA_HOME must also be defined for the EC2 API Tools to work
JAVA_HOME=/usr/lib/jvm/java-6-openjdk-amd64
